In [13]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
%matplotlib inline
from sklearn import datasets
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data")
df.head(12)

    B  1  1.1  1.2  1.3
0   R  1    1    1    2
1   R  1    1    1    3
2   R  1    1    1    4
3   R  1    1    1    5
4   R  1    1    2    1
5   R  1    1    2    2
6   R  1    1    2    3
7   R  1    1    2    4
8   R  1    1    2    5
9   R  1    1    3    1
10  R  1    1    3    2
11  R  1    1    3    3

In [5]:
df.shape

(624, 5)

In [10]:
y=df.iloc[:,0]
y.head(10)

0    R
1    R
2    R
3    R
4    R
5    R
6    R
7    R
8    R
9    R
Name: B, dtype: object

In [12]:
x=df.iloc[:,1:]
x.head()

   1  1.1  1.2  1.3
0  1    1    1    2
1  1    1    1    3
2  1    1    1    4
3  1    1    1    5
4  1    1    2    1

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x_train.shape,y_train.shape

((436, 4), (436,))

In [166]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy')
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [167]:
score=model.score(x_test,y_test)
score

0.7712765957446809

In [23]:
model1=DecisionTreeClassifier(criterion='gini')
model1.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
score1=model1.score(x_test,y_test)
score1

0.776595744680851

In [132]:
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier(criterion='entropy',max_leaf_nodes=24)
model2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=24,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [133]:
score2=model2.score(x_test,y_test)
score2

0.8563829787234043

In [117]:
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier(criterion='gini',max_leaf_nodes=36)
model3.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=36,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [118]:
score3=model3.score(x_test,y_test)
score3

0.851063829787234